* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

#first_section {
    background-image: url(billeder/Background4.png);
    background-size: cover;
    background-position: 50% 50%;
    max-width: none;
    width: 100%;
    height: 92vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'poppins', sans-serif;

}

.logo a {
    display: flex;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.logo li {
    list-style: none;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}



/*------------------------Om-------------------------*/

#om_tekst .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#om {
    background-color: white;
}

#om_tekst {
    margin: 60px;
}

#om_tekst img {
    width: 100%;
    border-radius: 50%;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'poppins', sans-serif;
}

h3 {
    color: black;
    text-align: center;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    margin-bottom: 20px;
}

#portfolio h3 {
    color: white;
}

#laes_mere {
    color: black;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    position: relative;
    top: 10px;
}

#laes_mere:hover {
    color: grey;
}

/*---------------------Portfolio---------------------*/
#portfolio {
    background-image: url(billeder/background5.png);
    padding-top: 20px;
}

#portfolio img {
    padding: 30px;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#vis_alt {
    color: #265756;
    text-align: center;
    position: relative;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
}

#hover_link:hover {
    color: white;
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
}



/*----------------------------- Footer -----------------------------*/

footer {
    background-color: #101010;
    padding-bottom: 15px;
    padding-top: 15px;
}

#copyrights {
    color: white;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
}


/*---------------------- Image slider ----------------------*/

.slideshow_container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -46px;
    padding: 16px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 5px;
}

.prev:hover,
.next:hover {
    color: grey;
}

.text a {
    color: black;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
}

.text a:hover {
    text-decoration: underline;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active,
.dot:hover {
    background-color: white;
    transition: 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* -------------------- Clouds ----------------------*/

#Cloud_container {
    position: absolute;
}

#Cloud_sprite {
    background-image: url(Clouds/Cloud1.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container2 {
    position: absolute;
}

#Cloud_sprite2 {
    background-image: url(Clouds/Cloud2.svg);
    background-size: cover;
    width: 10vw;
    height: 5vw;

}

#Cloud_container3 {
    position: absolute;
}

#Cloud_sprite3 {
    background-image: url(Clouds/Cloud3.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container4 {
    position: absolute;
}

#Cloud_sprite4 {
    background-image: url(Clouds/Cloud1.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container5 {
    position: absolute;
}

#Cloud_sprite5 {
    background-image: url(Clouds/Cloud2.svg);
    background-size: cover;
    width: 10vw;
    height: 5vw;
}

#Cloud_container6 {
    position: absolute;
}

#Cloud_sprite6 {
    background-image: url(Clouds/Cloud3.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;

}

#Cloud_container7 {
    position: absolute;
    cursor: pointer;

}

#Cloud_sprite7 {
    background-image: url(Clouds/Forside_knap.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container8 {
    position: absolute;
    cursor: pointer;

}

#Cloud_sprite8 {
    background-image: url(Clouds/Om_knap.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container9 {
    position: absolute;
    cursor: pointer;
}

#Cloud_sprite9 {
    background-image: url(Clouds/Portfolie_knap.svg);
    background-size: cover;
    width: 10vw;
    height: 6vw;
}

#Cloud_container10 {
    position: absolute;
    cursor: pointer;

}

#Cloud_sprite10 {
    background-image: url(Clouds/Forside_knap.svg);
    background-size: cover;
    width: 20vw;
    height: 12vw;
}

#Cloud_container11 {
    position: absolute;
    cursor: pointer;

}

#Cloud_sprite11 {
    background-image: url(Clouds/Om_knap.svg);
    background-size: cover;
    width: 20vw;
    height: 12vw;
}

#Cloud_container12 {
    position: absolute;
    cursor: pointer;
}

#Cloud_sprite12 {
    background-image: url(Clouds/Portfolie_knap.svg);
    background-size: cover;
    width: 20vw;
    height: 12vw;
}

#clouds2 {
    display: none;
}




/* ----------------- Positions---------------------- */

.pos {
    top: 10vw;
    left: 10vw;
}

.pos2 {
    top: 20vw;
    left: 30vw;
}

.pos3 {
    top: 14vw;
    left: 69vw;
}

.pos4 {
    top: 14vw;
    left: 95vw;
}

.pos5 {
    top: 9vw;
    left: 47vw;
}

.pos6 {
    top: 25vw;
    left: -3vw;
}

.pos7 {
    top: 35vw;
    left: 20vw;
}

.pos8 {
    top: 35vw;
    left: 45vw;
}

.pos9 {
    top: 35vw;
    left: 70vw;
}

.pos10 {
    top: 20vw;
    left: 40vw;
}

.pos11 {
    top: 40vw;
    left: 40vw;
}

.pos12 {
    top: 60vw;
    left: 40vw;
}

/* ----------------- Animation --------------------- */

.slide {
    animation: slide_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes slide_kf {
    0% {
        transform: translatex(0) rotate(0deg);
    }

    25% {
        transform: translatex(-10vw) rotate(-10deg);
    }

    50% {
        transform: translatex(10vw) rotate(10deg);

    }

    75% {
        transform: translatex(-10vw) rotate(-10deg);

    }

    100% {
        transform: translatex(0vw) rotate(0deg);
    }
}

.slide2 {
    animation: slide2_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slide2_kf {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.scroll_container {
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll_ned {
    position: absolute;
    top: 80vh;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.scroll_ned:first-child {
    animation: move 3s ease-out 1s infinite;
}

.scroll_ned:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.scroll_ned:before,
.scroll_ned:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fcfcfc;
}

.scroll_ned:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.scroll_ned:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}


@keyframes pulse {
    to {
        opacity: 1;
    }
}




/*--------------Mediaqueries---------------*/

@media screen and (max-width:1024px) {
    .nav-links {
        width: 50%;
    }

}

@media screen and (max-width:768px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    #om_tekst .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vh;
    }


    #clouds {
        display: none;
    }

    #clouds2 {
        display: none;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;

    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }



}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7.5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-7.5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
